* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: black;
    font-family: "Poppins", sans-serif;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    perspective: 2000px;
    position: relative;
    gap: 3rem;
    padding-bottom: 3rem;
}

@media screen and (max-width:500px) {
    .portfolio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        perspective: 2000px;
        position: relative;
        gap: 3rem;
        padding-bottom: 3rem;
    }
}

.card {
    width: 90%;
    height: 100%;
    max-width: 440px;
    color: #fff;
    text-align: center;
    padding: 40px 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspecive(1000px);
}

.card img {
    width: 140px;
    border-radius: 50%;
}

.card h2 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 20px;
    transform: translateZ(40px);
}

.card p {
    font-size: 18px;
    margin: 10px auto;
    max-width: 330px;
    transform: translateZ(30px);
    padding-bottom: 20px;
}

.btn {
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(to bottom right, #314755, #26a0da);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .btn:hover {
    background-image: linear-gradient(to bottom right, #2EE59D, #56e9ae);
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }