<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{Ashwin Mudaliar}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <canvas class="webgl"></canvas>
    <nav class="navbar">
      <div class="brand-title"><a href="/"><h1>Ashwin Mudaliar</h1></a></div>
      <a href="#" class="toggle-button">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>
      <div class="navbar-links">
        <ul>
          <li><a href="/views/portfolio.html">Portfolio</a></li>
          <li><a href="/views/resume.html">Resume</a></li>
          <li><a href="/views/connect.html">Connect</a></li>
        </ul>
      </div>
    </nav>
    <h1 class="title">Spin Me!</h1>

    <a id="source-link" class="meta-link" href="https://github.com/theflashwin" target="_blank">
        <i class="fa fa-github"></i>
        <span>GitHub</span>
    </a>

    <a id="linkedin-link" class="meta-link" href="https://www.linkedin.com/in/ashwin-mudaliar-a1a24021a/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
        <span>LinkedIn</span>
    </a>

    <a id="yt-link" class="meta-link" href="mailto:ashwinamudaliar@gmail.com" target="_blank">
        <i class="fa-solid fa-envelope"></i>
        <span>Connect</span>
    </a>

    <script type="module" src='https://kit.fontawesome.com/944eb371a4.js'></script>
    <script type="module" src="/connect.js"></script>
    <script type="module" src="/navbar.js"></script>
  </body>
</html>