<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <title>{{Ashwin Mudaliar}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="/portfolio.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
        <div class="brand-title"><a href="/"><h1>Ashwin Mudaliar</h1></a></div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="/views/portfolio.html">Portfolio</a></li>
            <li><a href="/views/resume.html">Resume</a></li>
            <li><a href="/views/connect.html">Connect</a></li>
          </ul>
        </div>
      </nav>

    <div class="portfolio">
        <div class = "card" data-tilt>
            <h2>Storm Robotics Website</h2>
            <p>This website uses node.js, JS, route53, aws (ec2) and more to implement complex full stack features with its own portal!</p>
            <a target="_blank" href="https://github.com/theflashwin/Storm-Robotics-Website" class="btn">Learn More</a>
        </div>
        <div class = "card" data-tilt>
            <h2>Storm Robotics Blog</h2>
            <p>Node.js Markdown Blog Application with admin login page with express and MongoDB. Deployed via an Amazon Web Services ec2 Instance.</p>
            <a target="_blank" href="https://github.com/theflashwin/StormBlog" class="btn">Learn More</a>
        </div>
        <div class = "card" data-tilt>
            <h2>TextEditor</h2>
            <p>TextEditor developed as part of a advanced java specialization offered by Coursera and the University of California, San Diego</p>
            <a target="_blank" href="https://github.com/theflashwin/TextEditor" class="btn">Learn More</a>
        </div>
    </div>

    <section class="portfolio">
        <div class = "card" data-tilt>
            <h2>UCSD Graphs</h2>
            <p>Map Application developed as part of a advanced java course offered by the University of California, San Diego.</p>
            <a target="_blank" href="#https://github.com/theflashwin/UCSDGraphs" class="btn">Learn More</a>
        </div>
        <div class = "card" data-tilt>
            <h2>Research Project</h2>
            <p>Using a raspberry-pi and a thermal camera, I am researching if we can use AI to identify musculoskeletal trauma.</p>
            <a target="_blank" href="https://github.com/theflashwin" class="btn">Learn More</a>
        </div>
        <div class = "card" data-tilt>
            <h2>Storm Robot Code</h2>
            <p>Using primarily java, we use Gradle and other packages to code our robot, including vital subsystems like its Swerve Drive</p>
            <a target="_blank" href="https://stormrobotics.org/programming" class="btn">Learn More</a>
        </div>
    </section>

    <script type="module" src="/main.js"></script>
    <script type="module" src="/navbar.js"></script>
  </body>
</html>
